<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <a href="nomenclature">Nomenclature</a>  <a href="departments">Departments</a>
            {% if transfers is defined %}
        <div>
        {% for tr in transfers %}

            id="{{ tr.id }}" nomencl="{{ tr.nomenclid.nomencl_name }}" depart={{ tr.departid.depart_name }}

        {% endfor %}
        </div>
        {% endif %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
