<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nomenclature!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <a href="transfers">Transfers</a>  <a href="departments">Departments</a>
        {% if nomenclature is defined %}
            <div>
<table>
        {% for nom in nomenclature %}
<tr>
        id="{{ nom.id }}" name="{{ nom.nomencl_name }}" depart="{{ nom.departid.depart_name }}"
</tr>
        {% endfor %}
   </table> </div>
        {% endif %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
